<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="edts.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="baglanti"
   connectionString="Data Source=.\SQLEXPRESS;&#xD;&#xA;							  Initial Catalog=StokYonetimDB;&#xD;&#xA;							  User ID=edts_kullanici; Password=471b12f59e19fa1532cbb38d2c24d8a7;&#xD;&#xA;							  TrustServerCertificate=True;"


                                        providerName="System.Data.SqlClient" />
	</connectionStrings>
 <userSettings>
  <edts.Settings>
   <setting name="Username" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberMe" serializeAs="String">
    <value>False</value>
   </setting>
  </edts.Settings>
 </userSettings>
</configuration>